.city {
  position: relative;
  height: 100vh;
  background: gray;
  background-image: url(/images/misc/bg_city.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
