.orderSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 1025px) {
  .orderSection {
    height: 726px;
    gap: 110px;
    justify-content: center;
  }
  .orderSection.reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 1024px) {
  .orderSection {
    flex-direction: column;
    padding-bottom: 200px;
  }
}

.content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.text {
  max-width: 310px;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000;
}

.text span {
  font-weight: 400;
}

@media (max-width: 1024px) {
  .text {
    max-width: 300px;
    text-align: center;
  }
}

.link {
  margin-top: 25px;
}
